body {
  background-color: black;
}

body > div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../public/hxrc/images/Bg.png');
  z-index: -10;
}

.select-trigger {
  background-color: transparent !important;
}

.select-trigger-inputting {
  border: transparent !important;
  box-shadow: none !important;
  width: auto !important;
}

.select-trigger-inputting .select-trigger-inputting__content {
  color: #6ad6ff !important;
  font-weight: 600 !important;
  width: auto !important;
  letter-spacing: .9px;
  line-height: 1.6rem;
}

.select-trigger-inputting .select-trigger-inputting__content div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 27px;
}

.select-trigger-inputting .select-trigger-inputting__placeholder {
  font-weight:500;
  font-size:18px;
  line-height: 27px;
  color: rgba(46, 46, 46, .7) !important;
}

.select-trigger-inputting .select-trigger-inputting__icon {
  color: rgba(46, 46, 46, .7) !important;
}

.select-popover .popover__content {
  min-width: auto !important;
  box-shadow: none!important;
  white-space: nowrap;
  margin-top: 8.8px !important;
  border: 1px solid transparent !important;
  width: auto !important;
  background-color: transparent;
}

.select-popover .popover__content .popover__body {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #093773;
  border: 1px solid #4589e1;
  border-radius: 4px;
}

.select-popover .popover__content .popover__body .popover__body__content {
  padding: 0;
}

.select-popover .popover__content .popover__body .popover__body__content .select__selection .select__selection__options .list {
  background-color:  transparent;
}

.select-popover .popover__content .popover__body .popover__body__content .select__selection .select__selection__options .list .list__item {
  color: #ffffff;
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}

.select-popover .popover__content .popover__body .popover__body__content .select__selection .select__selection__options .list .list__item:hover {
  color: #ffffff;
  background-color: #00fff21a;
}

.select-popover .popover__content .popover__body .popover__body__content .select__selection .select__selection__options .list .list__item.list__item--selected {
  color: #00fff2;
}

.select-trigger-inputting .select-trigger-inputting__content div {
  color: #00fff2 !important;
  font-weight: 600 !important;
  padding-right: 12px;
  font-size: 18px;
}

.select-trigger-inputting .select-trigger-inputting__icon {
  color: #00fff2 !important;
}

.ranking .ranking__block {
  margin-bottom: 12px;
}

input::placeholder {
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Oswald-Regular';
  src:
    url('../../public/hxrc/fonts/Oswald-Regular.woff') format('woff'),
    url('../../public/hxrc/fonts/Oswald-Regular.woff2') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Oswald-Light';
  src:
    url('../../public/hxrc/fonts/Oswald-Light.woff') format('woff'),
    url('../../public/hxrc/fonts/Oswald-Light.woff2') format('woff');
  font-weight: normal;
}

@import './supply.css';
@import './key_talent.css';
@import './talents_indicator_summary.css';
@import "./talent_competitiveness.css";
@import './resources.css';

.table {
  max-height: none !important;
}

.table table {
  border-collapse: separate !important;
  -webkit-border-vertical-spacing: 4px;
  -webkit-border-horizontal-spacing: 0;
}

.table.table--dark th {
  line-height: 40px;
  color: #00fff2 !important;
  text-align: left !important;
  padding-right: 20px;
  padding-left: 0;
}

.table .table__body tr td {
  height: 36px;
  line-height: 36px;
  background-color: rgba(13, 45, 120, .45);
}

.table .table__body tr td:not(:first-child) {
  padding-right: 20px;
  padding-left: 0;
  text-align: left;
}

.table .table__body tr td .table__cell--scroll {
  line-height: 36px;
}

.table .table__body tr td:first-child {
  border-radius: 18px 0 0 18px;
}

.table .table__body tr td:last-child {
  border-radius: 0 18px 18px 0;
}

.departments-select .ivu-select-dropdown {
  top: 38px !important;
}

.map-select .ivu-select-dropdown {
  top: 38px !important;
}

[data-content]:after {
  width: auto;
  max-width: 250px;
  min-width: 192px;
  position: relative;
  display: none;
  top: 30px;
  right: 10px;
  transition: all .25s linear;
  border-radius: 4px;
  padding: 6px;
  background-color: #566374f0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  content: attr(data-content);
  cursor: pointer;
  z-index: 999;
}

[data-content]:hover::after {
  display: inline-flex;
  transition: all .5s linear;
}

.line-break-talent-demand::after {
  width: 560px;
  max-width: none;
}

.ranking-tooltip {
  height: 22px;
}

.ranking-tooltip [data-content]:after {
  z-index: 0;
}

.line-break-degree::after {
  width: 500px;
  max-width: none;
  right: 210px;
}

.ranking-tooltip:hover [data-content]:after{
  z-index: 1;
}

.center-select {
  position: absolute;
  top: 124px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  &__label {
    color: #00fff2;
    font-weight: 600;
    padding-right: 12px;
    font-size: 18px;
    line-height: 27px;
  }
}

.company-type-select {
  .ivu-select-dropdown {
    top: 18px !important;
    left: 270px !important;
  }

  .ivu-select-input, .ivu-select-selection {
    height: 30px !important;
  }
}
